# Title
[Subtitle]

[Free Form Description]


**Data Sources**

- `xxx.csv`: blablabla

**Changes**

- 2019-06-06: Start project

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries,-load-data" data-toc-modified-id="Import-libraries,-load-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries, load data</a></span></li></ul></div>

---

### Import libraries, load data

In [1]:
# Import libraries
import numpy as np
import pandas as pd
from tqdm import tqdm

# My functions
import EDA_functions as EDA
import cleaning_functions as cleaning

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns #, sns.set_style('whitegrid')
color = 'rebeccapurple'
%matplotlib inline

# Display settings
from IPython.display import display
pd.options.display.max_columns = 100

In [2]:
# Load data
train_raw = pd.read_csv('data/raw/sales_train_v2.csv', parse_dates=['date'], 
                        infer_datetime_format=True, dayfirst=True)
shops_raw = pd.read_csv('data/raw/shops.csv')
items_raw = pd.read_csv('data/raw/items.csv')
categories_raw = pd.read_csv('data/raw/item_categories.csv')

In [3]:
df_list = [train_raw, shops_raw, items_raw, categories_raw]

# Check basic format
for df in df_list:
    print(df.info())
    display(df.sample(5))
    print("\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              datetime64[ns]
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 134.4 MB
None

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
527672  2013-05-31               4        7    19990       549.0           1.0
387687  2013-04-29               3       53     4127      1190.0           1.0
170488  2013-02-09               1        6     2753      1199.0           6.0
2496317 2015-03-29              26       31    19005       169.0           1.0
1750395 2014-06-17              17       54    18017       299.0           1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
shop_name    60 non-null object
shop_id      60 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB
None

                        shop_name  shop_id
11     Жуковский ул. Чкалова 39м²       11
58        Якутск ТЦ "Центральный"       58
44            Самара ТЦ "Мелодия"       44
21         Москва МТРЦ "Афи Молл"       21
1   !Якутск ТЦ "Центральный" фран        1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
None

                                          item_name  item_id  item_category_id
13935                                      ЛИНКОЛЬН    13935                40
8839   БЕРСЕРК: Тени Прошлого, про-бустер, арт.1038     8839                65
8355         АРИЯ  Легенды русского рока  2 (фирм.)     8355                55
8775                                     БЕЛЫЙ СЛОН     8775                40
17075    ПИРАТЫ КАРИБСКОГО МОРЯ: На краю света (BD)    17075                37

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
item_category_name    84 non-null object
item_category_id      84 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
None

       item_category_name  item_category_id
80     Служебные - Билеты                80
10  Игровые консоли - PS2                10
26   Игры Android - Цифра                26
9         Доставка товара                 9
50       Книги - Открытки                50

In [4]:
# Check for NaN

for df in df_list:
    print('NaN values: ', df.isnull().sum().sum())

NaN values:  0
NaN values:  0
NaN values:  0
NaN values:  0

In [12]:
categories_raw['item_category_id'].value_counts('blabla').head()

83    0.011905
30    0.011905
22    0.011905
23    0.011905
24    0.011905
Name: item_category_id, dtype: float64