# Title
[Subtitle]

[Free Form Description]


**Data Sources**

- `xxx.csv`: blablabla

**Changes**

- 2019-06-06: Start project

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries,-load-data" data-toc-modified-id="Import-libraries,-load-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries, load data</a></span></li></ul></div>

---

### Import libraries, load data

In [2]:
# Import libraries
import numpy as np
import pandas as pd
from tqdm import tqdm

# My functions
import EDA_functions as EDA
import cleaning_functions as cleaning

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns #, sns.set_style('whitegrid')
color = 'rebeccapurple'
%matplotlib inline

# Display settings
from IPython.display import display
pd.options.display.max_columns = 100

In [19]:
# Load data
train_raw = pd.read_csv('data/raw/sales_train_v2.csv', parse_dates=['date'], 
                        infer_datetime_format=True, dayfirst=True)
shops_raw = pd.read_csv('data/raw/shops.csv')
items_raw = pd.read_csv('data/raw/items.csv')
categories_raw = pd.read_csv('data/raw/item_categories.csv')

In [24]:
df_list = [train_raw, shops_raw, items_raw, categories_raw]

# Check basic format
for df in df_list:
    print(df.info())
    display(df.sample(5))
    print("\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              datetime64[ns]
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 134.4 MB
None

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
762415  2013-08-30               7       50     5324      299.00           1.0
420431  2013-04-17               3       30     1915      249.00           1.0
741668  2013-08-26               7       46    11829      473.18           1.0
2739420 2015-07-22              30       37    20949        5.00           2.0
602491  2013-06-29               5       56     3851      899.00           1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
shop_name    60 non-null object
shop_id      60 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB
None

                        shop_name  shop_id
16               Коломна ТЦ "Рио"       16
42         СПб ТК "Невский Центр"       42
51      Тюмень ТЦ "Зеленый Берег"       51
44            Самара ТЦ "Мелодия"       44
0   !Якутск Орджоникидзе, 56 фран        0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
None

                                     item_name  item_id  item_category_id
7811               Wildlife Park 3 [PC, Jewel]     7811                30
1758             BOWIE DAVID  The Next Day  LP     1758                58
11658  ЗВЕЗДНЫЕ ВОЙНЫ. ЭПИЗОД 1-3 (колл.) 2013    11658                41
15271   Мягкая игрушка HELLO KITTY 22 см. МУЗ.    15271                63
84                                   127 ЧАСОВ       84                40

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
item_category_name    84 non-null object
item_category_id      84 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
None

                          item_category_name  item_category_id
71  Подарки - Сумки, Альбомы, Коврики д/мыши                71
45                     Книги - Аудиокниги 1С                45
24                           Игры - XBOX ONE                24
0                    PC - Гарнитуры/Наушники                 0
56       Музыка - CD фирменного производства                56

In [25]:
# Check for NaN

for df in df_list:
    print('NaN values: ', df.isnull().sum().sum())

NaN values:  0
NaN values:  0
NaN values:  0
NaN values:  0